:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";

  --fs-section-title: 36px;
  --fs-card-title: 22px;
  --fs-body: 17px;
  --fs-meta: 14px;
  --fs-ui: 18px; 
}